<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="GBVSレーダーは、グランブルーファンタジー バーサス（GBVS）の対戦募集ツイートをまとめるサイトです。"/>
    <title>GBVSレーダー</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132562878-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-132562878-4');
    </script>

    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/flat-ui.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c04e61aeba.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/resp_index.css">
    <script src="/static/js/index.js" defer></script>

    <meta http-equiv="refresh" content="60; URL={{ url_for('index') }}">
</head>
<body>

<header>
    <a href="{{ url_for('index') }}">GBVSレーダー</a>
</header>

<main>
    {% block main %}
    {% endblock %}
</main>

<footer>

    <div class="cs">
        {#        <a class="about" href="{{ url_for('about') }}">このサイトについて</a>#}

        <a href="https://twitter.com/toka_373" target="_blank" class="question">問い合わせ</a>
    </div>


    <div class="cr">
        <small>© 2020 GBVS Radar. By Toka</small>
    </div>

</footer>


</body>
</html>
